* {
  box-sizing: border-box;
}

html {
  --black: #202047;
  --gray: #b9b9ce;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #202047;
  text-align: center;
  line-height: 1.4;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

/*-----------------
TYPOGRAPHY
------------------*/

.testimonial {
  font-size: 1.125rem;
  margin-top: 0;
  padding-top: 1.5em;
  font-weight: 300;
}

.testimonee__name,
.testimonee__role {
  font-size: 0.9375rem;
  margin: 0;
}

.testimonee__role {
  color: var(--gray);
}

/*-----------------
GRID CONTAINER
------------------*/
.grid-container {
  display: grid;
  grid-template-columns: minmax(2em, 1fr) minmax(0, 450px) minmax(2em, 1fr);
}

/* .testimonee-image-area > *,
.testimonial-area > * { */
.component > * {
  grid-column: 2 / -2;
}

/*-----------------
BUTTONS
------------------*/

.slider__butons {
  position: absolute;
  background-color: white;
  padding: 0.75em 1em 0.5em;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
  left: 50%;
  bottom: 4em;
  border-radius: 30px;
  transform: translate(-50%, 80%);
}

.btn {
  cursor: pointer;
}

.btn:hover {
  filter: brightness(150%);
}

.btn + .btn {
  margin-left: 2em;
}

/*-----------------
LAYOUT
------------------*/

.component {
  background-color: white;
  padding: 0em 0em 7em;
  background-image: url("../images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.testimonial_container,
.testimonee-image {
  display: none;
}

.display {
  display: block;
}

.testimonee-image-area {
  background-image: url("../images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  /* max-width: 475px; */
  margin: 0 auto;
  padding: 4em 2em 3em;
}

.testimonee-image {
  max-height: 350px;
  margin: 0 auto;
  /* filter: drop-shadow(); */
  box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.2);
}

.testimonee-image-area {
  position: relative;
  /* margin-bottom: 3em; */
}

.testimonial_container {
  background-image: url("../images/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: top center;
}

@media (min-width: 1200px) {
  /*-----------------
TYPOGRAPHY
------------------*/

  .testimonial {
    font-size: 2rem;
  }

  .testimonee__name,
  .testimonee__role {
    font-size: 1.25rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: minmax(2em, 1fr) minmax(0, 650px) minmax(0, 600px) minmax(
        2em,
        1fr
      );
  }

  .testimonial-area {
    grid-column: 2 / 3;
    grid-row: 1;
    align-self: center;
    justify-self: end;
  }

  .testimonee-image-area {
    grid-column: 3 / 4;
    grid-row: 1;
    align-self: center;
    justify-self: start;
  }

  /*-----------------
LAYOUT
------------------*/

  .component {
    padding-top: 5em;
    background-size: 35%;
    background-position: left bottom;
  }

  .testimonee-image {
    max-height: 540px;
  }

  .testimonee-image-area {
    background-image: url("../images/pattern-bg.svg");
    padding: 4em;
    transform: translateX(-10%);
  }

  .slider__butons {
    padding: 1em 1.5em 0.75em;
    /* box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1); */
    left: 27.5%;
    bottom: 4em;

    transform: translate(-50%, 50%);
  }

  /* .btn + .btn {
    margin-left: 2.5em;
  } */

  .testimonial-area {
    text-align: left;
    transform: translateX(10%);
  }

  .testimonial_container {
    background-position: top left 100px;
  }

  .testimonee-info {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1em;
  }
}
