* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

.display-none {
  display: none;
}

.main-grid {
  display: grid;
  grid-template-columns: minmax(0em, 1fr) minmax(0, 768px) minmax(0em, 1fr);
}

.main-grid > * {
  grid-column: 2 / -2;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.modal {
  position: fixed;
  top: 6em;
  left: 1.5em;
  right: 1.5em;
  padding: 1em;
  border-radius: 5px;
  background-color: white;
  transition: transform 250ms;
  transform: translateX(150%);
}

.modal-display {
  transform: translateX(0);
}

.modal__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 700;
}

.modal__item {
  margin-bottom: 1em;
}

.modal__item:nth-child(4) {
  margin-top: 2em;
  opacity: 15%;
  position: relative;
}

.modal__item:hover {
  text-decoration: underline;
}

.modal__item:nth-child(4)::before {
  content: "";
  position: absolute;
  top: -1.5em;
  left: calc((100vw - 7em) / 2 * -1);
  height: 1px;
  background: currentColor;
  width: calc(100vw - 5em);
}

.modal__item:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .main-grid {
    display: grid;
    grid-template-columns: minmax(2em, 1fr) minmax(0, 1110px) minmax(2em, 1fr);
  }
}
