body {
  font-family: "Barlow Condensed", sans-serif;
  color: #242942;
  text-transform: uppercase;
}

.hero__title {
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 0.5em;
}

.hero__body {
  font-size: 1.125rem;
  font-family: "Barlow", sans-serif;
  opacity: 75%;
  text-transform: initial;
  line-height: 1.5;
  margin-bottom: 1.5em;
}

.hero__sm-header {
  font-size: 0.9375rem;
}

.accent-text {
  background-color: #242942;
  color: white;
  padding: 0.25em 0.5em;
  border-radius: 25px;
  letter-spacing: 1px;
  margin-right: 0.5em;
  font-weight: 600;
}

.hero__btn {
  font-size: 0.875rem;
}

.regular-text {
  opacity: 50%;
  letter-spacing: 5px;
  white-space: nowrap;
}

.btn {
  display: inline-block;
  padding: 1em 1.5em;
  background-color: #ff5e5e;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  margin-right: 0.5em;
}

.btn:hover {
  background-color: #ff8686;
  cursor: pointer;
}

.hero__btn .regular-text {
  letter-spacing: 2.5px;
}

@media (min-width: 1010px) {
  .hero__title {
    margin-top: 0.25em;
    font-size: 4rem;
  }

  .hero__body {
    margin-bottom: 2.5em;
  }

  .hero__btn {
    font-size: 1rem;
  }

  .hero__btn .regular-text {
    font-size: 0.9375rem;
  }
}
