<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/styles.css" />

    <title>Frontend Mentor | Stats preview card component</title>
  </head>
  <body>
    <div class="component grid-container">
      <div class="hero__img"></div>

      <div class="component__info">
        <h1 class="component__title">
          Get <span class="color-accent">insights</span> that help your business
          grow.
        </h1>
        <p class="component__body">
          Discover the benefits of data analytics and make better decisions
          regarding revenue, customer experience, and overall efficiency.
        </p>
        <div class="metrics">
          <div class="metric">
            <h2 class="metric__title">10k+</h2>
            <p class="metric__description">companies</p>
          </div>

          <div class="metric">
            <h2 class="metric__title">314</h2>
            <p class="metric__description">templates</p>
          </div>

          <div class="metric">
            <h2 class="metric__title">12m+</h2>
            <p class="metric__description">queries</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
