<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />

    <title>Frontend Mentor | Fylo data storage component</title>
  </head>
  <body>
    <div class="component">
      <div class="component__icons">
        <img class="logo" src="images/logo.svg" alt="Fylo logo" />
        <div class="icons">
          <div class="icon__container">
            <img
              class="icon"
              src="images/icon-document.svg"
              alt="document icon"
            />
          </div>

          <div class="icon__container">
            <img
              class="icon"
              src="images/icon-folder.svg"
              alt="document icon"
            />
          </div>

          <div class="icon__container">
            <img class="icon" src="images/icon-upload.svg" alt="cloud icon" />
          </div>
        </div>
      </div>
      <div class="component__metrics">
        <p class="metric__description">
          You’ve used <strong>815 GB</strong> of your storage
        </p>
        <div class="bar">
          <div class="layer">
            <p class="layer__info">185<span>GB Left</span></p>
          </div>
        </div>
        <div class="gbs">
          <p class="gb-left">0 GB</p>
          <p class="gb-right">1000 GB</p>
        </div>
      
      </div>
    </div>

    <div class="bg-image">
      
    </div>
  </body>
</html>
