* {
  box-sizing: border-box;
}

html {
  --gray: #7a7a7a;
  --light-gray: #b1b1b1;
  --lightest-gray: #f2f2f2;
  --green: #3cb3ab;
}

body {
  margin: 0;
  font-family: "Commissioner", sans-serif;
  background-color: var(--lightest-gray);
  color: var(--gray);
}

img {
  max-width: 100%;
}

/*------------------
TYPOGRAPHY
-------------------*/

h1,
h2,
h3,
strong {
  color: black;
  font-weight: 700;
}

strong {
  font-size: 2rem;
}

h1 {
  font-size: 1.25rem;
}

h2 {
  font-size: 1.125rem;
}

h3,
p {
  font-size: 0.875rem;
  line-height: 1.7;
}

/*------------------
BUTTONS
-------------------*/

.top__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn,
.btn-small {
  display: inline-block;
  padding: 1em 2em;
  border-radius: 30px;
  position: relative;
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
  font-weight: 500;
}

.btn-small {
  font-size: 0.875rem;
}

.btn-green {
  background-color: var(--green);
  border-color: var(--green);
  color: white;
}

.btn-green:hover {
  background-color: #147a73;
  border-color: #147a73;
}

.btn-transparent {
  background-color: transparent;
  border-color: var(--gray);
  color: black;
}

.btn-bookmark {
  display: block;
  background-image: url("../images/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-color: var(--light-gray);
  border-radius: 30px;
  margin-left: 1em;
  cursor: pointer;
}

.btn-bookmark-size {
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
  height: 3.125em;
  width: 3.125em;
}

.bookmark__body {
  display: none;
}

.bookmarked {
  background-image: url("../images/icon-bookmarked.svg");
  background-color: var(--lightest-gray);
  color: var(--green);
  position: relative;
}

/*------------------
GRID CONTAINER
-------------------*/

.grid-container {
  display: grid;
  grid-template-columns: minmax(1em, 1fr) minmax(0, 500px) minmax(1em, 1fr);
}

.header > *,
.main > *,
.backing > * {
  grid-column: 2 / -2;
}

/*------------------
GENERAL
-------------------*/

.top-area,
.backing,
.about-area,
.modal {
  background-color: white;
  border-radius: 5px;
  padding: 0 2em 2.5em 2em;
}

@media (max-width: 320px) {
  .top-area {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.top-area,
.backing {
  text-align: center;
}

.out-of-stock {
  filter: grayscale(100%);
  opacity: 0.5;
}

.display-modal {
  display: block !important;
}

.display-payment {
  border-top: 1px solid var(--light-gray) !important;
  height: auto !important;
  overflow: visible !important;
  margin-top: 1.5em !important;
}

.selected {
  border: 2px var(--green) solid !important;
}

/*------------------
HEADER
-------------------*/

.header {
  background-image: url("../images/image-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  height: 300px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 2em;
}

.nav__menu {
  display: none;
}

/*------------------
TOP AREA
-------------------*/

.top-area {
  transform: translateY(-20%);
  margin-bottom: -1.5em;
}

.top__title {
  margin-top: 0;
  padding-top: 0;
}

.logo_mastercraft {
  display: block;
  margin: 0 auto;
  transform: translateY(-50%);
}

/*------------------
BACKING AREA
-------------------*/

.backing {
  margin-bottom: 2em;
}

.metrics {
  margin-top: 1em;
  margin-bottom: 2em;
  padding-top: 0.75em;
  position: relative;
}

.metrics::after {
  content: "";
  border-bottom: 2px var(--light-gray) solid;
  position: absolute;
  bottom: -1.5em;
  width: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.no-underline::after {
  display: none;
}

.metric-bar {
  width: 100%;
  background: var(--lightest-gray);
  height: 12px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.metric-bar::after {
  content: "";
  position: absolute;
  left: 0;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 20px;
  background-color: var(--green);
}

.metric__value {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.metric__description {
  margin-top: 0;
  padding-top: 0;
}

/*------------------
ABOUT AREA
-------------------*/

.about-area {
  text-align: left;
  padding-top: 1.5em;
}

.about__title {
  margin-bottom: 1.5em;
}

.about__body {
  margin-bottom: 3em;
}

/*------------------
STANDS
-------------------*/

.stand,
.pledge {
  border: 1px var(--light-gray) solid;

  border-radius: 10px;
  padding: 1.375em 1.25em;
  margin-bottom: 1.5em;
}

.stand__title,
.stand__pledge {
  margin: 0;
}

.stand__pledge {
  margin-bottom: 2em;
}

.pledge__amount,
.stand__pledge {
  color: var(--green);
  font-weight: 500;
}

.stand__left {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

/*------------------
BACKUP MODALS
-------------------*/

.modal {
  position: fixed;
  left: 1em;
  right: 1em;
  bottom: 2em;
  top: 2em;
  box-shadow: 0 0 0 100em rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 1em 2em;
}

.backup-modal {
  display: none;
  overflow-y: scroll;
}

.backup-modal__title,
.backup-modal__body {
  margin-bottom: 1.5em;
}

.radio {
  width: 25px;
  height: 25px;
  border-color: var(--lightest-gray);
  background-color: var(--lightest-gray);
}

.backup-modal strong {
  font-size: 1.125rem;
  margin-right: 0.25em;
}

.pledge {
  padding-bottom: 2em;
}

.pledge__selection {
  display: grid;
  grid-template-columns: 1.5em 1em auto;
  grid-template-areas:
    "radio . title"
    "radio . description";
  margin-bottom: 1.25em;
}

.pledge__left {
  margin-bottom: 0em;
}

.radio,
.pledge__title,
.pledge__amount {
  margin: 0;
}

.radio {
  grid-area: radio;
  align-self: center;
}
.pledge__title {
  grid-area: title;
  align-self: end;
  justify-self: start;
  margin-right: 0.75em;
}

.pledge__title:hover {
  cursor: pointer;
  color: var(--green);
}

.pledge__amount {
  grid-area: description;
  align-self: start;
}

.pledge__payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 0;
  overflow: hidden;
  margin-left: -2.5em;
  transform: translateX(1.25em);
  padding-left: 1em;
  padding-right: 1em;
}

.pledge__payment > * {
  padding-left: 0;
  padding-right: 0;
  padding-top: 1em;
}

.no-reward {
  margin-top: 2em;
  margin-bottom: 0em;
}

.payment__title {
  width: 100%;
  text-align: center;
  margin-bottom: 1.5em;
}

.pledge__payment > .btn-transparent {
  width: 40%;
}

.pledge__payment > .btn-green {
  width: 55%;
}

.close-icon {
  position: absolute;
  top: 2.25em;
  right: 1em;
  cursor: pointer;
}

/*------------------
BACKUP GRATITUDE
-------------------*/

.success-modal {
  display: none;

  width: 320px;
  height: 320px;

  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
}

.success-modal__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-------------------
---------------------
-----DESKTOP------
---------------------
--------------------*/

@media (min-width: 800px) {
  /*------------------
TYPOGRAPHY
-------------------*/

  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  p {
    font-size: 1rem;
  }

  /*------------------
BUTTONS
-------------------*/

  .btn-gray {
    display: block;
    background-color: var(--light-gray);
    color: var(--gray);
    padding: 0;
    padding-right: 1.5em;
    border: 0;
    font-weight: 700;
    display: flex;
    align-items: center;
  }

  .bookmark__body {
    display: inline-block;
  }

  .btn-bookmark-size {
    background-size: 3.125rem;
    padding-left: 4em;
    padding-right: 6em;
    display: flex;
    align-items: center;
  }

  .bookmarked {
    padding-right: 7em;
  }

  /*------------------
GRID CONTAINER (Desktop)
-------------------*/

  .grid-container {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0, 750px) minmax(1em, 1fr);
  }

  .header > * {
    grid-column: 1 / -1;
  }

  /*------------------
GENERAL (Desktop)
-------------------*/

  .backing {
    text-align: left;
  }

  .top-area,
  .backing,
  .about-area,
  .modal {
    padding-left: 3em;
    padding-right: 3em;
  }

  .display-payment {
    margin-top: 1em !important;
    padding-top: 1.5em;
    padding-bottom: 0.5em !important;
  }

  /*------------------
HEADER (Desktop)
-------------------*/

  .header {
    background-image: url("../images/image-hero-desktop.jpg");
  }

  .header__content {
    max-width: 1200px;
    padding-left: 2em;
    padding-right: 2em;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav__menu {
    display: block;
  }

  .nav__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__item + li {
    margin-left: 3em;
  }

  .nav__link {
    color: white;
    text-decoration: none;
  }

  .nav__link:hover {
    text-decoration: underline;
  }

  .nav__icon {
    display: none;
  }

  /*------------------
TOP AREA
-------------------*/

  .top-area {
    transform: translateY(-35%);
    margin-bottom: -4em;
  }

  .top__buttons {
    justify-content: space-between;
    margin-bottom: 1em;
  }

  .top__title {
    margin-bottom: 0;
    margin-top: 0;
  }

  .top__body {
    margin-top: 0.75em;
    margin-bottom: 2.5em;
  }

  /*------------------
BACKING AREA (Desktop)
-------------------*/

  .backing__metrics {
    display: flex;
    justify-content: flex-start;
  }

  .metrics {
    padding-right: 3em;
    margin-bottom: 1em;
  }

  .metrics + .metrics {
    margin-left: 3em;
  }

  .metrics::after {
    content: "";
    border-bottom: 0;
    border-right: 1px var(--gray) solid;

    bottom: initial;
    left: initial;
    transform: none;
    top: 1.5em;
    bottom: 1.5em;
    right: 0;
  }

  /*------------------
ABOUT AREA
-------------------*/

  .about-area {
    padding-top: 2.5em;
  }

  /*------------------
STANDS (Desktop)
-------------------*/

  .stand {
    padding: 2.5em;
    display: grid;

    grid-template-areas:
      "title . pledge"
      "body body body"
      "left . btn";
    align-items: center;
  }

  .stand__title {
    grid-area: title;
  }
  .stand__pledge {
    grid-area: pledge;
    margin-bottom: 0;
  }
  .stand__body {
    grid-area: body;
  }
  .stand__left {
    grid-area: left;
    align-self: end;
    margin-bottom: 0;
  }
  .stand > .btn-small {
    grid-area: btn;
    align-self: end;
  }

  /*------------------
PLEDGES (Desktop)
-------------------*/

  .pledge__selection {
    grid-template-columns: 3em auto auto;
    grid-template-areas: initial;
  }

  .pledge__selection > * {
    grid-column: initial;
  }

  .pledge {
    padding: 2.5em;
    padding-bottom: 1.5em;
    display: grid;

    grid-template-columns: 1fr 6em;
    grid-template-areas:
      "pledge left"
      "body body"
      "payment payment";

    align-items: center;
  }

  .pledge__selection {
    grid-area: pledge;
    justify-self: left;
  }
  .pledge__body {
    grid-area: body;
  }
  .pledge__left {
    grid-area: left;
    justify-self: end;
    align-self: start;
    margin-top: 0;
  }

  .pledge__payment {
    grid-area: payment;
    flex-wrap: nowrap;
    justify-content: space-between;

    align-self: center;

    margin-left: -5em;
    transform: translateX(2.5em);
    padding-left: 2em;
    padding-right: 2em;
  }

  .no-reward {
    margin-top: 0.5em;
  }

  .payment__title {
    text-align: left;
    margin: 0;
    padding: 0;
  }

  .pledge__payment > .btn-green {
    width: 40%;
  }

  .pledge__payment > .btn-transparent {
    margin-right: 1em;
    width: 25%;
  }

  .modal {
    padding: 2.5em;
    max-width: 750px;
    margin: 0 auto;
  }

  .close-icon {
    top: 2em;
    right: 2em;
  }

  .success-modal {
    display: none;
    width: 540px;
    height: 380px;
    margin: auto;
    transform: none;
    left: 0;
  }
}
