<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/typography.css" />
    <link rel="stylesheet" href="css/header.css" />

    <title>Frontend Mentor | Project tracking intro component</title>
  </head>
  <body>
    <header class="header main-grid">
      <div class="header__top">
        <img class="logo" src="images/logo.svg" alt="logo" />
        <nav class="nav">
          <img
            src="images/icon-hamburger.svg"
            alt="menu icon"
            class="icon-menu"
          />

          <img
            src="images/icon-close.svg"
            alt="close icon"
            class="icon-close display-none"
          />

          <ul class="nav__list">
            <li class="nav__item"><a href="#" class="nav__link">Product</a></li>
            <li class="nav__item">
              <a href="#" class="nav__link">Features</a>
            </li>
            <li class="nav__item"><a href="#" class="nav__link">Pricing</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Login</a></li>
          </ul>
        </nav>
      </div>

      <div class="hero">
        <img
          class="hero__img"
          src="images/illustration-devices.svg"
          alt="devices illustration"
        />
        <div class="hero__info">
          <p class="hero__sm-header">
            <span class="accent-text">New</span>
            <span class="regular-text">Monograph Dashboard</span>
          </p>
          <h1 class="hero__title">Powerful insights<br />into your team</h1>
          <div class="hero__body">
            Project planning and time tracking<br />for agile teams
          </div>
          <p class="hero__btn">
            <a class="btn">Schedule a demo</a>
            <span class="regular-text">to see a preview</span>
          </p>
        </div>
      </div>

      <div class="layer"></div>
    </header>
    <div class="modal">
      <ul class="modal__list">
        <li class="modal__item"><a href="#" class="nav__link">Product</a></li>
        <li class="modal__item">
          <a href="#" class="nav__link">Features</a>
        </li>
        <li class="modal__item"><a href="#" class="nav__link">Pricing</a></li>
        <li class="modal__item"><a href="#" class="nav__link">Login</a></li>
      </ul>
    </div>
  </body>
  <script src="js/modal.js"></script>
</html>
