<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/typography.css" />
    <link rel="stylesheet" href="css/header.css" />

    <title>Frontend Mentor | Project tracking intro component</title>
  </head>
  <body>
    <header class="header">
      <div class="header__content">
        <div class="header__top">
          <img src="images/logo.svg" alt="logo" class="logo" />
          <nav class="nav">
            <img src="images/icon-hamburger.svg" class="icon menu-icon" />
            <img src="images/icon-close.svg" class="icon close-icon hide" />
            <ul class="nav__list">
              <li class="nav__item">
                <a href="#" class="nav__link">Product</a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">Features</a>
              </li>
              <li class="nav__item">
                <a href="#" class="nav__link">Pricing</a>
              </li>
              <li class="nav__item"><a href="#" class="nav__link">Login</a></li>
            </ul>
          </nav>
        </div>

        <div class="hero">
          <img
            src="images/illustration-devices.svg"
            alt="ilustration of a laptop and a smartphone"
            class="hero__img"
          />

          <div class="hero__info">
            <p class="hero__small-title">
              <span class="small-style">New</span>
              <span class="opacity-style">Monograph Dashboard</span>
            </p>
            <h1 class="hero__title">Powerful insights<br />into your team</h1>
            <p class="hero__body">
              Project planning and time tracking for agile teams
            </p>
            <p class="schedule">
              <a class="btn">Schedule a demo</a>
              <span class="opacity-style"> to see a preview</span>
            </p>
          </div>
        </div>
      </div>

      <div class="gray-area"></div>
    </header>

    <div class="modal">
      <ul class="modal__list">
        <li class="modal__item">
          <a href="#" class="nav__link">Product</a>
        </li>
        <li class="modal__item">
          <a href="#" class="nav__link">Features</a>
        </li>
        <li class="modal__item">
          <a href="#" class="nav__link">Pricing</a>
        </li>
        <li class="modal__item"><a href="#" class="nav__link">Login</a></li>
      </ul>
    </div>
  </body>
  <script src="js/scripts.js"></script>
</html>
