* {
  box-sizing: border-box;
}

html {
  --black: hsl(220, 50%, 17%);
  --gray: hsl(221, 23%, 58%);
  --light-gray: hsl(198, 28%, 93%);
  --orange: hsl(22, 89%, 52%);
}

/*------------------
    GENERAL
-------------------*/

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  color: var(--gray);
  padding-top: 1em;
}

img,
.keyboard-img,
.keyboard-iphone-img,
.keyboard-glass-img {
  max-width: 100%;
  max-height: 100%;
}

/*------------------
    TYPOGRAPHY
-------------------*/
.order-now__title,
.section__title-bg,
.section__title {
  font-weight: 900;
  line-height: 1.1;
}

.order-now__title,
.section__title-bg,
.section__title {
  color: var(--black);
  text-transform: uppercase;
}

.order-now__title {
  font-size: 3rem;
  margin-bottom: 0.5em;
}

.order-now__info {
  text-transform: uppercase;
  font-weight: 600;
}

.section__title-bg {
  font-size: 2rem;
}

.order-now__body,
.section__body {
  line-height: 1.6;
  margin-bottom: 1.5em;
}

/*---- Buttons ----*/

.btn {
  display: inline-block;
  padding: 0.875em 0.75em;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-orange {
  background-color: var(--orange);
  color: white;
}

.btn-orange:hover {
  background-color: #ff9b62;
}

.btn-gray {
  background-color: var(--light-gray);
  color: var(--black);
}

.btn-gray:hover {
  background-color: #162542;
  color: white;
}

/*------------------
    GRID CONTAINER
-------------------*/

.grid-container {
  display: grid;
  grid-template-columns: 1.5em minmax(0, 700px) 1.5em;
}

.header > *,
.main > *,
.section,
.section-bg > * {
  grid-column: 2 / -2;
}

.keyboard-img {
  grid-column: 2 / -1;
  margin-bottom: 1em;
}

.image-group {
  grid-column: 1 / -2;
}

/*------------------
    LAYOUT
-------------------*/
.pattern {
  display: none;
}

.header {
  margin-bottom: 1em;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-bg,
.section {
  text-align: center;
  justify-self: center;
  margin-bottom: 5em;
}

.section {
  max-width: 350px;
  margin-bottom: 4em;
}

.order-now {
  max-width: 330px;
  margin-right: 2em;
  margin-bottom: 4em;
}

.order-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*---- Images ----*/

.image-group {
  display: grid;
  grid-template-columns: minmax(0, 120px) 1.5em minmax(0, 600px);
}

.keyboard-img {
  background-image: url("../assets/mobile/image-keyboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 100%;
  min-height: 340px;
  max-height: 520px;

  margin-bottom: 1.5em;
}

.keyboard-iphone-img,
.keyboard-glass-img {
  min-height: 200px;
  max-height: 520px;
  margin-bottom: 3em;
}

.keyboard-iphone-img {
  grid-column: 1;
  background-image: url("../assets/mobile/image-phone-and-keyboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

  position: relative;
  overflow: hidden;
}

.keyboard-iphone-img::after {
  content: "";
  position: absolute;
  background-color: rgba(241, 103, 24, 0.25);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.keyboard-glass-img {
  grid-column: 3;
  background-image: url("../assets/mobile/image-glass-and-keyboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  border-radius: 20px;
}

/*---- Icons ----*/

.section__icon-container {
  margin: 0 auto 3em;
  background-color: var(--orange);
  height: 65px;
  width: 65px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------
    FOOTER
-------------------*/

.footer {
  text-align: center;
}

.footer > strong {
  font-weight: 400;
}

/*-------------------
---------------------
------ TABLET -------
---------------------
-------------------*/

@media (min-width: 700px) {
  /*------------------
    TYPOGRAPHY TABLET
-------------------*/
  .order-now__body {
    margin-bottom: 2.5em;
  }

  .section__title {
    margin-bottom: 0.75em;
  }

  /*------------------
    GRID CONTAINER (Tablet)
-------------------*/

  .grid-container {
    grid-template-columns: 2em minmax(0, 600px) minmax(0, 600px) 2em;

    grid-template-areas:
      ". header      header      ."
      ". order       keyboard    keyboard"
      ". images      images      ."
      ". section-bg  section-bg  ."
      ". compatible  bluetooth   ."
      ". battery     light       .";
  }

  .header {
    grid-area: header;
  }

  .order-now {
    grid-area: order;
    align-self: center;
  }

  .keyboard-img {
    grid-area: keyboard;
    justify-self: end;
  }
  .image-group {
    grid-area: images;
  }

  .section-bg {
    grid-area: section-bg;
  }

  .compatible {
    grid-area: compatible;
  }

  .bluetooth {
    grid-area: bluetooth;
  }

  .battery {
    grid-area: battery;
  }

  .light {
    grid-area: light;
  }

  /*------------------
    LAYOUT (Tablet)
-------------------*/

  body {
    padding-top: 2.5em;
  }

  .header {
    margin-bottom: 4em;
  }

  .main {
    margin-bottom: 5em;
  }

  .section-bg,
  .section {
    text-align: left;
  }

  .section {
    max-width: 280px;
    margin-bottom: 5em;
  }

  .section-bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    margin-bottom: 7.5em;
  }

  .section__body {
    margin-top: 0;
    margin-bottom: 0;
  }

  /*-- Images --*/

  .image-group {
    display: grid;
    grid-template-columns: minmax(0, 200px) 2em minmax(0, 1000px);
  }

  .keyboard-iphone-img,
  .keyboard-glass-img {
    min-height: 300px;
    max-height: 520px;
    margin-bottom: 3em;
  }

  .keyboard-img {
    background-image: url("../assets/tablet/image-keyboard.jpg");

    min-height: 400px;
    max-height: 600px;

    width: calc(100% - 2em);
    margin-bottom: 2em;
  }

  .keyboard-iphone-img {
    background-image: url("../assets/tablet/image-phone-and-keyboard.jpg");
    border-radius: 20px;
  }

  .keyboard-glass-img {
    background-image: url("../assets/tablet/image-glass-and-keyboard.jpg");
  }

  /*-- Icons --*/

  .section__icon-container {
    margin: 0 auto 2.5em 0;
  }
}

/*-------------------
---------------------
------ DESKTOP-------
---------------------
-------------------*/

@media (min-width: 1000px) {
  /*------------------
    LAYOUT
-------------------*/

  .grid-container {
    grid-template-columns: minmax(2em, 1fr) repeat(4, 275px) minmax(2em, 1fr);

    grid-template-areas:
      ". header header  header  header  ."
      ". order order keyboard keyboard right-pat"
      "left-pat images images images section-bg ."
      ". compatible  bluetooth battery light .";
  }

  .order-now {
    max-width: 450px;
  }

  .section {
    padding-right: 2em;
    margin-top: 10em;
    margin-bottom: 2em;
  }

  .section-bg {
    max-width: 280px;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    align-self: center;
    gap: 0;
    margin-bottom: 0;
  }

  /*---- Images ----*/

  .keyboard-iphone-img,
  .keyboard-glass-img {
    min-height: 350px;
    max-height: 450px;
    margin-bottom: 0;
  }

  .keyboard-img {
    background-image: url("../assets/desktop/image-keyboard.jpg");
    /* margin-right: -5em; */
  }

  .keyboard-iphone-img {
    background-image: url("../assets/desktop/image-phone-and-keyboard.jpg");
  }

  .keyboard-glass-img {
    content: url("../assets/desktop/image-glass-and-keyboard.jpg");
  }

  .pattern {
    display: block;
    height: 50%;

    background-color: var(--light-gray);
  }

  .pattern-left {
    grid-area: left-pat;
    align-self: end;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    margin-right: 2em;
  }

  .pattern-right {
    grid-area: right-pat;
    align-self: start;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-left: 2em;
  }
}
