* {
  box-sizing: border-box;
}

html {
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

.main-grid {
  display: grid;
  grid-template-columns: minmax(2em, 1fr) minmax(0, 500px) minmax(2em, 1fr);
}

.main-grid > * {
  grid-column: 2 / -2;
}

/*Buttons*/

.btn {
  display: inline-block;
  padding: 0.75em 2em;
  border-radius: 30px;
  color: white;
  margin-bottom: 1.25em;
  font-weight: 700;
}

.btn:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.btn-ios {
  background-color: rgb(38, 187, 164);
  box-shadow: 0 2px 2px 0 #209f8b;
}

.btn-mac {
  background-color: rgb(97, 116, 255);
  box-shadow: 0 2px 2px 0 #5262d8;
}

.buttons {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-left: auto;
  margin-right: auto;
}

.buttons > * {
  flex-grow: 1;
}

@media (min-width: 1000px) {
  .main-grid {
    display: grid;
    grid-template-columns: minmax(2em, 1fr) minmax(0, 1110px) minmax(2em, 1fr);
  }
}
